.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightgrey;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1em;
}

.buffer {
    flex: 1;
}
